.work {
	p {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		max-width: 100%;
		padding-right: 40px;
		color: $color-dark-gray;
		text-align: left;

		&:last-of-type {
			margin-bottom: 25px;
		}
	}

	.work__client-work, 
	.work__personal-work {
		opacity: 0;
		position: absolute;
		left: -9999px;
		transform: translateY(40px);
		padding: 0 25px;
	}

	&.client-work-open .work__client-work, 
	&.personal-work-open .work__personal-work {
		opacity: 1;
		position: relative;
		left: unset;
		transform: translateY(0);
		transition: opacity $transition-speed-slow $transition-ease, transform 0.7s $transition-ease;
	}
}

	.work__project {
		position: relative;
		padding-bottom: 25px;
		margin-bottom: 25px;
		border-bottom: 1px solid $color-light-gray;
		text-align: center;
		@include clearfix;

		@include responsive(medium) {
			text-align: left;
			max-width: 90%;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 40px;
			margin-bottom: 40px;
		}
		
		&:nth-child(2) {
			.work__project-logo {
				max-height: 33%;
				max-width: none;
				width: auto;
			}
		}

		&:last-child {
			margin-bottom: 0;
			border-bottom: 0;
		}

		.btn {
			margin: 10px 0;

			@include responsive(medium) {
				margin: 0;
			}
		}
	}

		.work__project-img {
			height: 0;
			padding-bottom: 52.5%;
			width: 100%;
			background-size: cover;
			background-position: center center;
			position: relative;
			margin-bottom: 20px;

			@include responsive(medium) {
				position: absolute;
				top: 0;
				left: 0;
				padding-bottom: 0;
				height: 100%;
				margin-bottom: 0;
				@include span(3 of 9);
			}

			.black-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.4);
			}
		}

			.work__project-logo {
				width: 75%;
				max-width: 350px;
				max-height: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				&.work__project-logo--wide {
					width: 85%;
				}
			}

		.work__project-content {
			@include responsive(medium) {
				@include span(6 of 9 last);
			}
		}

			.work__project-title {
				text-align: left;
				font-weight: 700;
				margin-bottom: 10px;
			}

	.work__project-slideshow {
		display: none;
	}
