@import 'susy';
@import 'reset';
@import 'vars';
@import 'mixins';
@import 'typography';

.body-wrapper {
	overflow-x: hidden;
}

.container {
	max-width: 1040px;
	padding: 0 25px;
	margin: 0 auto;

	@include responsive(large) {
		padding: 0 50px;
	}
}

.container--wide {
	max-width: 1170px;
}

.hidden {
	opacity: 0;
	height: 0;
}

@import 'button';
@import 'contact-form';
@import 'content-section';
@import 'footer';
@import 'header';
@import 'hero';
@import 'work';

