* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
}

.main {
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 3px solid #f60;
  margin: 1rem;
}

.logo {
  width: 4.5rem;
}

h1 {
  font-size: 1.75rem;
  margin: 0;
  font-family: Merriweather, sans-serif;
  color: #f60;
}

p {
  font-size: 1rem;
  max-width: 28rem;
  text-align: center;
  font-family: Montserrat, serif;
  margin: 15px 0;
  line-height: 1.5;
}

.social {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.social li {
  margin: 0.625rem;
}

.social li a {
  text-decoration: none;
}

.social li a img {
  height: 2rem;
}
