html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.h1, .h2 {
  font-family: "Montserrat", "Helvetica", sans-serif;
  line-height: 1.4em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.h1 {
  font-size: 22px;
}

.h2 {
  font-size: 18px;
}

p:not([class]), .content-section p {
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  line-height: 1.5em;
  font-size: 14px;
}

a:not([class]) {
  color: #ff6600;
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
a:not([class]):hover {
  text-decoration: underline;
  color: #cc5200;
}

.body-wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 1040px;
  padding: 0 25px;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}

.container--wide {
  max-width: 1170px;
}

.hidden {
  opacity: 0;
  height: 0;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font: 14px "Montserrat", "Helvetica", sans-serif;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  outline: none;
  overflow: hidden;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  vertical-align: middle;
  zoom: 1;
}

.btn--outline-orange {
  border-color: #ff6600;
  color: #ff6600;
}
.btn--outline-orange:hover {
  border-color: #fff;
  color: #fff;
}
.btn--outline-orange.to-black:hover {
  border-color: #000;
  color: #000;
}

.btn--outline-black {
  border-color: #000;
  color: #000;
}
.btn--outline-black:hover {
  background-color: #e9e9e9;
}

.btn--no-outline {
  border: 0;
  color: #000;
  text-decoration: underline;
}
.btn--no-outline:hover {
  color: #b7b7b7;
}

.contact-form label {
  font-size: 0;
  position: absolute;
  left: -9999px;
}
.contact-form input:not([type=submit]), .contact-form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  margin: 0 auto 15px;
  min-height: 20px;
  max-width: 90%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #b7b7b7;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 14px;
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  color: #707070;
}
@media only screen and (min-width: 720px) {
  .contact-form input:not([type=submit]), .contact-form textarea {
    max-width: 500px;
  }
}
.contact-form input:not([type=submit])::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  color: #707070;
}
@media only screen and (min-width: 720px) {
  .contact-form input:not([type=submit])::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
    font-size: 14px;
  }
}
.contact-form input:not([type=submit]):-moz-placeholder, .contact-form textarea:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  color: #707070;
}
@media only screen and (min-width: 720px) {
  .contact-form input:not([type=submit]):-moz-placeholder, .contact-form textarea:-moz-placeholder {
    font-size: 14px;
  }
}
.contact-form input:not([type=submit])::-moz-placeholder, .contact-form textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  color: #707070;
}
@media only screen and (min-width: 720px) {
  .contact-form input:not([type=submit])::-moz-placeholder, .contact-form textarea::-moz-placeholder {
    font-size: 14px;
  }
}
.contact-form input:not([type=submit]):-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  color: #707070;
}
@media only screen and (min-width: 720px) {
  .contact-form input:not([type=submit]):-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
    font-size: 14px;
  }
}
.contact-form input:not([type=submit]):focus, .contact-form input:not([type=submit]):active, .contact-form textarea:focus, .contact-form textarea:active {
  outline: 0;
  border-color: #707070;
}
.contact-form input:not([type=submit]).invalid, .contact-form textarea.invalid {
  border-color: red;
}
.contact-form textarea {
  min-height: 125px;
}

.contact-form__message p {
  margin-bottom: 20px !important;
  text-align: center !important;
}
.contact-form__message.success p {
  color: green;
}
.contact-form__message.error p {
  color: red;
}
.contact-form__message.hidden {
  display: none;
}

.content-section {
  padding: 50px 0;
  text-align: center;
}
@media only screen and (min-width: 720px) {
  .content-section {
    padding: 75px 0;
  }
}
.content-section.content-section--gray-bg {
  background-color: #f4f4f4;
}
.content-section#work {
  padding-bottom: 25px;
}
@media only screen and (min-width: 720px) {
  .content-section#work {
    padding-bottom: 35px;
  }
}
.content-section p {
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 1.5em;
}
.content-section p:last-of-type {
  margin-bottom: 45px;
}

.content-section__lead-img {
  max-width: 75px;
  margin-bottom: 20px;
  max-height: 100px;
}

.content-section__title {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 45px;
  text-align: center;
  font-weight: bold;
}

.content-section__control {
  padding-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-section__control > div {
  padding: 0 20px;
}

.control-link {
  color: #ff6600;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 14px;
  text-decoration: none;
}
.control-link.disabled {
  pointer-events: none;
  color: #707070;
}

.control-divider {
  width: 1px;
  height: 20px;
  transform: translateY(6px);
  background-color: #707070;
  margin: 0 12px;
  display: inline-block;
}

.footer {
  background-color: #d4d1d1;
  padding: 25px 0;
  text-align: center;
}

.footer__social-link {
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  display: inline-block;
  vertical-align: bottom;
}
.footer__social-link:not(:last-child) {
  margin-right: 15px;
}
.footer__social-link.linkedin {
  background-image: url(/img/icon-linkedin.png);
}
.footer__social-link.strava {
  background-image: url(/img/strava.png);
  width: 20px;
  height: 29px;
  transform: translateY(2px);
}
.footer__social-link svg {
  max-width: 100%;
  max-height: 100%;
}

.header {
  background-color: #fff;
  height: 50px;
  border-bottom: 1px solid #b7b7b7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 5;
}
@media only screen and (min-width: 640px) {
  .header {
    height: 70px;
  }
}
.header.mobile-menu-open {
  top: 40px;
}

.header__logo {
  display: inline-block;
  text-transform: uppercase;
  color: #ff6600;
  font-weight: bold;
  font-family: "Montserrat", "Helvetica", sans-serif;
  line-height: 30px;
  margin-top: 10px;
  text-decoration: none;
}
@media only screen and (min-width: 640px) {
  .header__logo {
    line-height: 50px;
  }
}

.header__menu-icon {
  float: right;
  padding: 17px 0 17px 25px;
}
.header__menu-icon img {
  height: 16px;
}
@media only screen and (min-width: 640px) {
  .header__menu-icon {
    display: none;
  }
}

.header__nav {
  position: fixed;
  width: 100%;
  height: 40px;
  top: -50px;
  left: 0;
  background-color: #ff6600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
}
.mobile-menu-open .header__nav {
  top: 0;
  opacity: 1;
}
@media only screen and (min-width: 640px) {
  .header__nav {
    float: right;
    position: relative;
    width: auto;
    height: auto;
    background-color: #fff;
    top: 0;
    opacity: 1;
  }
}
.header__nav ul {
  list-style-type: none;
  text-align: center;
}
.header__nav ul li {
  display: inline-block;
}
@media only screen and (min-width: 640px) {
  .header__nav ul li {
    float: left;
  }
}
.header__nav ul li:not(:last-child) {
  margin-right: 40px;
}
@media only screen and (min-width: 1024px) {
  .header__nav ul li:not(:last-child) {
    margin-right: 60px;
  }
}
.header__nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  display: inline-block;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", "Helvetica", sans-serif;
  text-decoration: none;
  font-size: 14px;
}
@media only screen and (min-width: 640px) {
  .header__nav ul li a {
    color: #b7b7b7;
    line-height: 50px;
    margin-top: 10px;
  }
}
.header__nav ul li a:hover, .header__nav ul li a.active {
  color: #d4d1d1;
}
@media only screen and (min-width: 640px) {
  .header__nav ul li a:hover, .header__nav ul li a.active {
    color: #000;
  }
}

.hero {
  height: calc(100vh - 50px);
  margin-top: 50px;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: top left;
  position: relative;
}
@media only screen and (min-width: 640px) {
  .hero {
    height: calc(100vh - 70px);
    margin-top: 70px;
  }
}

.hero__content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 25px;
  width: 80%;
}
@media only screen and (min-width: 720px) {
  .hero__content {
    max-width: 400px;
  }
}
.hero__content .btn {
  margin: 25px 0;
}

.hero__title {
  text-transform: none;
}

.hero__social-link {
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  display: inline-block;
  vertical-align: bottom;
}
.hero__social-link:not(:last-child) {
  margin-right: 15px;
}
.hero__social-link.linkedin {
  background-image: url(/img/icon-linkedin.png);
}
.hero__social-link.strava {
  background-image: url(/img/strava.png);
  width: 20px;
  height: 29px;
  transform: translateY(2px);
}
.hero__social-link svg {
  max-width: 100%;
  max-height: 100%;
}

.work p {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 40px;
  color: #707070;
  text-align: left;
}
.work p:last-of-type {
  margin-bottom: 25px;
}
.work .work__client-work,
.work .work__personal-work {
  opacity: 0;
  position: absolute;
  left: -9999px;
  transform: translateY(40px);
  padding: 0 25px;
}
.work.client-work-open .work__client-work, .work.personal-work-open .work__personal-work {
  opacity: 1;
  position: relative;
  left: unset;
  transform: translateY(0);
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1), transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.work__project {
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #d4d1d1;
  text-align: center;
  zoom: 1;
}
.work__project:after {
  clear: both;
  content: '';
  display: table;
}
@media only screen and (min-width: 720px) {
  .work__project {
    text-align: left;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}
.work__project:nth-child(2) .work__project-logo {
  max-height: 33%;
  max-width: none;
  width: auto;
}
.work__project:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.work__project .btn {
  margin: 10px 0;
}
@media only screen and (min-width: 720px) {
  .work__project .btn {
    margin: 0;
  }
}

.work__project-img {
  height: 0;
  padding-bottom: 52.5%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 20px;
}
@media only screen and (min-width: 720px) {
  .work__project-img {
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 0;
    height: 100%;
    margin-bottom: 0;
    width: 31.81818%;
    float: left;
    margin-right: 2.27273%;
  }
}
.work__project-img .black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.work__project-logo {
  width: 75%;
  max-width: 350px;
  max-height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work__project-logo.work__project-logo--wide {
  width: 85%;
}

@media only screen and (min-width: 720px) {
  .work__project-content {
    width: 65.90909%;
    float: right;
    margin-right: 0;
  }
}

.work__project-title {
  text-align: left;
  font-weight: 700;
  margin-bottom: 10px;
}

.work__project-slideshow {
  display: none;
}

/*# sourceMappingURL=style.css.map */
